*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(74, 76, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.miniContainer{
    /* background-color: blue; */
    height: 400PX;
    width: 300PX;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.userLogo{
    height: 35%;
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .userLogo img{
    border-radius: 50%;
} */

.userLogoIcon{
    font-size: 170px;
}

.box{
    height: 40px;
    width: 250px;
    background-color: yellow;
    margin: 20px auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.listSelection a{
    text-decoration: none;
}